<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambola slip</title>
    <link rel="stylesheet" href="css/slip.css">
    

  </head>
  <body>
    <h1>SLIP</h1>
    <p class="lotto"></p>
    <div class="container">
      <div class="row one">

      <button class="1 number"></button>
      <button class="11 number"></button>
      <button class="21 number"></button>
      <button class="31 number"></button>
      <button class="41 number"></button>
      <button class="51 number"></button>
      <button class="61 number"></button>
      <button class="71 number"></button>
      <button class="81 number"></button>

    </div>
    <div class="row two">

    <button class="2 number"></button>
    <button class="12 number"></button>
    <button class="22 number"></button>
    <button class="32 number"></button>
    <button class="42 number"></button>
    <button class="52 number"></button>
    <button class="62 number"></button>
    <button class="72 number"></button>
    <button class="82 number"></button>

  </div>
  <div class="row three">

  <button class="3 number"></button>
  <button class="13 number"></button>
  <button class="23 number"></button>
  <button class="33 number"></button>
  <button class="43 number"></button>
  <button class="53 number"></button>
  <button class="63 number"></button>
  <button class="73 number"></button>
  <button class="83 number"></button>

</div>
</div>

<footer>
<p> ALL Rights Reserverd</p>
</p>© Copyright 2020 Shrey</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="/js/slip.js" charset="utf-8"></script>
  </body>
</html>
